


<div class="card">
    <div class="card-body">
        <h5 class="text-center title">{{ title }}</h5>
        <table class="table table-hover mt-3">
            <tbody>
                <tr>
                    <span>
                        <td>Juanma Molins Cortés</td>
                        <td>12124143143134</td>
                        <td>24/32</td>
                    </span>
                    <span>
                        <td><i class="fa-solid fa-pen-to-square"></i></td>
                        <td><i class="fa-solid fa-trash-can"></i></td>
                    </span>
                </tr>                
            </tbody>
        </table>
    </div>
</div>